<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colors</key>
	<dict>
		<key>tableViewBackgroundColor</key>
		<string>#1b1b1b</string>
		<key>separatorViewColor</key>
		<string>#707070</string>
		<key>cellRightTextColor</key>
		<string>#707070</string>
		<key>cellBackgroundColor</key>
		<string>#252525</string>
		<key>moreLoginBackgroundColor</key>
		<string>#252525</string>
		<key>moreLoginTextColor</key>
		<string>#707070</string>
		<key>black</key>
		<string>#707070</string>
	</dict>
	<key>images</key>
	<dict>
		<key>tabBarTintColor</key>
		<string>#925657</string>
		<key>publishButtonBackgroundSelectedImage</key>
		<string>feed_publish_press_night_44x44_</string>
		<key>publishButtonBackgroundImage</key>
		<string>feed_publish_night_44x44_</string>
		<key>cellRightArrow</key>
		<string>setting_rightarrow_night_8x14_</string>
		<key>loginMobileButton</key>
		<string>cellphoneicon_login_profile_night_66x66_</string>
		<key>loginWechatButton</key>
		<string>weixinicon_login_profile_night_66x66_</string>
		<key>loginQQButton</key>
		<string>qqicon_login_profile_night_66x66_</string>
		<key>loginSinaButton</key>
		<string>sinaicon_login_profile_night_66x66_</string>
		<key>mineFavoriteButton</key>
		<string>favoriteicon_profile_night_24x24_</string>
		<key>mineHistoryButton</key>
		<string>history_profile_night_24x24_</string>
		<key>dayOrNightButton</key>
		<string>nighticon_profile_24x24_</string>
		<key>TabBarImages</key>
		<dict>
			<key>tabbar_home_image</key>
			<string>home_tabbar_night_32x32_</string>
			<key>tabbar_home_press_mage</key>
			<string>home_tabbar_press_night_32x32_</string>
			<key>tabbar_video_image</key>
			<string>video_tabbar_night_32x32_</string>
			<key>tabbar_video_press_image</key>
			<string>video_tabbar_pres_nights_32x32_</string>
			<key>tabbar_huoshan_image</key>
			<string>huoshan_tabbar_night_32x32_</string>
			<key>tabbar_huoshan_press_image</key>
			<string>huoshan_tabbar_press_night_32x32_</string>
			<key>tabbar_mine_image</key>
			<string>mine_tabbar_night_32x32_</string>
			<key>tabbar_mine_press_image</key>
			<string>mine_tabbar_press_night_32x32_</string>
			<key>tabbar_nologin_image</key>
			<string>no_login_tabbar_night_32x32_</string>
			<key>tabbar_nologin_press_image</key>
			<string>no_login_tabbar_press_night_32x32_</string>
		</dict>
	</dict>
</dict>
</plist>
